version: 2.1
orbs:
  architect: giantswarm/architect@6.8.0

job_filters: &job_filters
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore:
        - main
        - master

workflows:
  version: 2
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package and push to default catalog
        app_catalog: default-catalog
        app_catalog_test: default-test-catalog
        chart: external-dns-app
        persist_chart_archive: true
        push_to_oci_registry: true
        <<: *job_filters

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package and push to giantswarm catalog
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        chart: external-dns-app
        push_to_oci_registry: true
        <<: *job_filters

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package and push external-dns-app-bundle to default catalog
        app_catalog: default-catalog
        app_catalog_test: default-test-catalog
        chart: external-dns-app-bundle
        explicit_allow_chart_name_mismatch: true
        push_to_oci_registry: true
        <<: *job_filters

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package and push external-dns-app-bundle to giantswarm catalog
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        chart: external-dns-app-bundle
        explicit_allow_chart_name_mismatch: true
        push_to_oci_registry: true
        <<: *job_filters

    - architect/run-tests-with-ats:
        name: execute chart tests
        filters:
            # Do not trigger the job on merge to main.
          branches:
            ignore:
            - main
        requires:
        - package and push to default catalog
